.highlight
{
    display: none;
    color: #FF0000;
    background-color: #FF0000;
    opacity: 0.4;
    position: absolute;
}
.occupant
{
    display: none;
    color: #0000AF;
    background-color: #0000FF;
    opacity: 0.4;
    position: absolute;
    pointer-events:none;
    transition: 0.2s linear;
}
.light
{
    display:block;
    position:absolute;
    text-align: center;
    pointer-events:none;
    width:20;
    transition: 0.2s linear;
}
.chatOdd
{
    width: 100%;
    background-color: lightgrey;
}

.chatEven
{
    width: 100%;
    background-color: white;
}

.chatAlert
{
    width: 100%;
    background-color: LightCoral ;
    font-weight: bold;  
}

.room
{
    margin-left: 15;
    margin-top: 5;
    position: absolute;
    font-weight: 900;
}

.icon
{
    pointer-events: none;
    font-size: 2em;
    position: absolute;
    transition: 0.4s ease-in-out;
}

.icon.focus
{
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    color: orange;
}

.background
{
    padding-top:1;
    height:40;
    transition: 0.4s ease-in-out;
}

.background.night
{
    transition: 0.4s ease-in-out;
    background: black; /* For browsers that do not support gradients */    
    background: -webkit-radial-gradient(circle black 20%, white 70%, white); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(black 20%, white 70%, white); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(black 20%, white 70%, white); /* For Firefox 3.6 to 15 */
    background: radial-gradient(black 20%, white 70%, white); /* Standard syntax (must be last) */
}

.background.dusk
{
    transition: 0.4s ease-in-out;
    background: #537692; /* For browsers that do not support gradients */    
    background: -webkit-radial-gradient(#537692 20%, white 70%, white); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#537692 20%, white 70%, white); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#537692 20%, white 70%, white); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#537692 20%, white 70%, white); /* Standard syntax (must be last) */
}

.background.day
{
    transition: 0.4s ease-in-out;
    background: #008DFF; /* For browsers that do not support gradients */    
    background: -webkit-radial-gradient(#008DFF 20%, white 70% white); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#008DFF 20%, white 70%, white); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#008DFF 20%, white 70%, white); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#008DFF 20%, white 70%, white); /* Standard syntax (must be last) */
}
